.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    .containerLinks{
        color: black;
        background: white;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 80%;
        .linkContainer{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: .2rem;
            .link{
                padding: 1rem;
                border-radius: 8px;
                background: var(--dark-gray);
                color: white;
                text-decoration: none;
                transition: .2s;
                &:hover{
                    background: var(--blue);
                }
            }
        }
    }
}