.imgContainer{
    position: relative;
    width: 100%;
    height: 85vh;
    padding: 1rem 0rem 1rem 0rem;
}

.imgCourses{
    position: absolute;
    filter: brightness(50%);
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.courseTextContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    .textContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 60%;
        h1 {
            display: flex;
            flex-direction: column;
            line-height: 100%;
            font-size: 5rem;
            color: var(--blue);
        }
        p {
            font-size: 1.2rem;
            text-align: justify;
            color: var(--white);
        }
    }
    
    .boxContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
        background-color: var(--white);
        border-radius: 12px;
        padding: 1.5rem;
        color: #000;
        .grau {
            font-weight: 400;
        }

        .courseName {
            font-size: 2rem;
            font-weight: 700;
        }
        .ulDiv {
            margin-left: 1rem;
            font-size: .8rem;
            ul {
                padding-left: 0;
                margin-bottom: 0;
            }
            ul > li {
                margin-top: 4px;
            }
        }
        .saleDiv {
            
            border: 1px solid black;
            border-radius: 4px;
            padding: 4px;
            span {
                text-align: center;
                font-size: .7rem;
                font-weight: bold;
            }
        }
        .courseValues{
            display: flex;
            flex-direction: column;
            gap: .1rem;
            s {
                font-size: .9rem;
                color: var(--light-gray);
            }
            p {
                font-size: 1.3rem;
                font-weight: 700;
            }
        }
        .inscrevaSeLink{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            .inscrevaSeButton{
                border: none;
                background: var(--blue);
                width: 80%;
                padding: 1rem;
                border-radius: 50px;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                transition: .2s;
                color: var(--white);
                &:hover {
                    color: #000;
                }
                .inscrevaSeButtonIcon{
                    margin-right: .5rem;
                }
            }
        }
    }
}

@media(max-width: 998px){
    .textContainer{
        font-size: 1.5rem;
        h1 {
            span {
                font-size: 4rem;
                line-height: 80px;
                
            }
        }
        p {
            font-size: 1rem !important;
            
        }
    }
}

@media(max-width: 913px){
    .imgContainer{
        height: auto;
    }
    .boxContainer{
        width: 100% !important;
    }
    .courseTextContainer{
        flex-direction: column;
        gap: 2rem;
        .textContainer{
            max-width: 100%;
        }
    }
    
}

@media(max-width: 479px){
    .textContainer{
        h1 {
            span {
                font-size: 3rem;
                line-height: 55px;
                text-align: center;
            }
        }
        p {
            font-size: 1rem !important;
            
        }
    }
    .boxContainer{
        gap: 1rem !important;
    }
    .inscrevaSeButton{
        font-size: .8rem !important;
    }
}