

.container{
    display: flex;
    flex-direction: column;

    align-items: center;
    h1 {
        color: var(--white);
    }
    .formContainer {
        margin-top: 2rem;
        width: 50%;
        background-color: var(--white);
        padding: 2rem;
        border-radius: 8px;
        .inputContainer {
            display: flex;
            flex-direction: column;
            .input{
                margin-top: 1rem;
                padding: 16px 16px 12px 0px;
                border: none;
                border-bottom: 1px solid var(--dark-gray);
                &:focus {
                    outline: none;
                 }
            } 
            .containerSelect {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .divSelect{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 32px;
                    background-color: rgb(221, 221, 221);
                    width: 48%;
                    border: 1px solid var(--light-gray);
                    border-radius: 4px;
                    margin-top: 2rem;
                    .select{

                        position: absolute;
                        right: 0;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        background-color: transparent;
                        height: 100%;
                        width: 100%;
                        border: none;
                        &:focus {
                            outline: none;
                        }
                        .optionOne {
                            text-align: center;
                        }
                    }
                }
            }
            .divCourseSelect{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 32px;
                background-color: rgb(221, 221, 221);
                width: 100%;
                border: 1px solid var(--light-gray);
                border-radius: 4px;
                margin-top: 2rem;
                .selectCourse{

                    position: absolute;
                    right: 0;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    background-color: transparent;
                    height: 100%;
                    width: 100%;
                    border: none;
                    &:focus {
                        outline: none;
                    }
                    .optionOne {
                        text-align: center;
                    }
                }
            }
            .radioDiv {
                display: flex;
                gap: 1rem;
                margin-top: 1rem;
            }
        } 
        .instrucoesDiv{
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
        }
        .divRedacao {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            margin-bottom: 2rem;
            p{
                    margin-top: .5rem;
                    text-align: justify;
            }
        }
        .buttonSubmit{
            margin-top: 1rem;
            width: 100%;
            background-color: var(--blue);
            padding: 16px;
            border-radius: 8px;
            font-weight: bold;
            border: none;
            transition: .2s;
            &:hover {
                background-color: #fdba5b;
            }
        }
    }
}

@media (max-width: 1080px){
    .formContainer {
        width: 90% !important;
    }
}

@media (max-width: 620px){
    .containerSelect {
        flex-direction: column;
        .divSelect {
            width: 100% !important;
            .select {
                text-align-last: center;
            }
        }
    }
    .selectCourse {
        text-align-last: center;
    }
}