
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --light-gray: #757575;
  --dark-gray: #152039; //2c2c2c
  --blue: #f8c377;
  --buttons-text: #000;
  --buttons-text-hover: #fff;
  //--blue: #479eff;
  --white: #fff;
  scroll-behavior: smooth;
  a {
    text-decoration: none;
  }
  .container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
  }
}

body {
  background: var(--dark-gray) !important;
  color: var(--white)
}

.img {
  display: none;
}
.ql-editor{
  min-height: 200px;
}