
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --light-gray: #757575;
  --dark-gray: #2c2322;
  --page-bg: #F5F0EF;
  --brand-main: #9D6C65;
  --accent: #F8C377;
  --cta: #C21E7C;
  --text-main: #2c2322;
  --text-soft: #665653;
  --blue: #F8C377;
  --buttons-text: #000;
  --buttons-text-hover: #fff;
  --white: #fff;
  scroll-behavior: smooth;
  a {
    text-decoration: none;
  }
  .container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
  }
}

body {
  background: var(--page-bg) !important;
  color: var(--text-main)
}

.img {
  display: none;
}
.ql-editor{
  min-height: 200px;
}
